<div data-ng-cloak>
	
	<!--Region Header -->
	<div data-ng-repeat="region in ::stage.regions" id="{{::getRegionId(region)}}">
		<div fsm-sticky-header 
			scroll-body="getRegionScrollBodyId(region)"
			scroll-stop="0"
			scroll-object="region"
			z-index-override="10100"
			class="sectionTitle region-header" >{{::region.RegionName}}</div>
		<!--County Header -->
		<div  data-ng-repeat="county in ::region.Counties" id="{{::getCountyId(county)}}">
			
			<!--F FSM Sticky Header Placeholder County Header -->
			<div fsm-sticky-header 
				scroll-body="getCountyScrollBodyId(county)" 
				scroll-stop="23" 
				scroll-object="county"
				z-index-override="10000"
				class="sectionTitle region-header" >{{::county.CountyName}} Co. 
			</div>
			<div ng-class-odd="'box'" ng-class-even="'box box-secondary'" data-ng-repeat="stream in county.Streams" data-stream-list-item-directive>

			</div>
		</div>
	</div>
	
</div>
