<div class="box" data-stream-id="{{stream.streamId}}">
    <div class="grid-row">
        <div class="containerHeader grid-row box-hd">
            <div class="grid-row-col grid-row-col_9of12">
                <h2>
                    <a data-ng-click="selectStream(stream)" href="https://www.google.com/maps/@{{::stream.CentroidLongitude}},{{::stream.CentroidLatitude}},14z"  class="link js-stream-link sectionTitle" >{{::stream.Name}}</a>
                    <div class="box-hd_minor">{{::getCounties()}}</div>

                </h2>
            </div>
            <div class="grid-row-col grid-row-col_3of12">
                <div class="grid-row-col grid-row-col_4of12">
                    <div data-species-summary >

                    </div>
                </div>

                <div class="grid-row-col grid-row-col_8of12">
                    <div data-stream-ratio-text>
                </div>
                </div>
            </div>
        </div>  

        <div class="containerBody grid-row">
            <div class="grid-row-col_12of12">
                <div data-stream-line></div>
            </div>
        </div>

        <div class="grid-row">
            <div class="grid-row-col grid-row-col_12of12">
                <div data-ng-if="stream.Restrictions.length > 0" data-restriction-legend></div>
            </div>
            
        </div>
    </div>
</div>